# URL del backend en Elastic Beanstalk
NEXT_PUBLIC_API_URL=http://facturadorelectronico-env.eba-7uqbpdgc.us-east-2.elasticbeanstalk.com/api/v1

# URL del microfrontend de facturación (desarrollo local)
NEXT_PUBLIC_INVOICES_URL=http://localhost:8080/
